<mat-card class="example-card">
  <h2 class="mat-elevation-z1">My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hi! I am </h3>
      <h1>Faye Marie <span>Oscobido</span></h1>
      <h4>Bachelor of Science in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/Faye.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>You can call me Paye or whatever you please. I'm 21 years old and I love writing stories so much! </p>
  </mat-card-content>
</mat-card>